body{
    color: #FFFFFF;
    font-family: 'Barlow Condensed', sans-serif;

    margin: 0;
    padding: 0;
    
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

nav{
    font-size: 1em;

    position: absolute;
    width: 542px;
    height: 19px;
    left: 123px;
    top: 38px;
}

button{
    background-color: transparent;
    color: #FFFFFF;

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;

    line-height: 19.2px;
    letter-spacing: 2.7px;
    margin: 0;
    padding: 0;
    border: 0px;

    cursor: pointer;
}

p{
    margin:0;
    padding: 0;
}

span{
    font-weight: 400;
}
.backgr-image{
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.navigation{
    border: 5px solid #FFFFFF;
    color: #FFFFFF;

    position: absolute;
    width: 1385px;
    height: 96px;
    left: 55px;
    top: 40px;
}

.star{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 55px;
    top: 64px;
}

.line{
    position: absolute;
    width: 873px;
    height: 1px;
    top: 88px;
    right: 800px;
    z-index: 1;
        
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.rectangle{
    position: absolute;
    width: 830px;
    height: 96px;
    /* left: 610px; */

    top: 41px;
    right: 0px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}

.home{
    position: absolute;
    width: 75px;
    height: 19px;
    margin: 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.destination{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 118px;
    margin: 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.crew{
    position: absolute;
    width: 71px;
    height: 19px;
    left: 296px;
    margin: 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.technology{
    position: absolute;
    width: 127px;
    height: 19px;
    left: 415px;
    margin: 0px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) 
            drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home:hover, .destination:hover, .crew:hover, .technology:hover{
    filter: none;
}

.home-underline{
    position: absolute;
    width: 70px;
    height: 3px;
    right: 637px;
    top: 133px;

    background: #FFFFFF;

    visibility: var()
}

.bio{
    position: absolute;
    width: 450px;
    height: 382px;
    left: 165px;
    top: 387px;
    bottom: 131px;
}

.first_par{
    color: #D0D6F9;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    
    letter-spacing: 4.72px;
    line-height: 34px; 

    position: absolute;
    top: 0px;
    /* right: 70.5px; */
    bottom: 348px;
    left: 0.5px;
    
    margin: 0; 
}

.second_par{
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.9px;
    
    position: absolute;
    top: 58px;
    right: 5px;
    bottom: 152px;

    margin: 0;
}

.third_par{
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    
    position: absolute;
    top: 254px;
    right: 5.5px;
    left: 0.5px;

    margin: 0;
}

.explore{
    background-color: #FFFFFF;
    color: #0B0D17;
    font-family: 'Bellefair', serif;
    font-size: 2em;
    

    border: #FFFFFF solid 1px;
    border-radius: 50%;

    position: absolute;
    top: 495px;
    right: 165px;
    height: 274px;
    width: 274px;
}

.explore-hover{
    background-color: #FFFFFF;
    opacity: 0.1;

    border: #FFFFFF solid 1px;
    border-radius: 50%;

    position: absolute;
    top: 407px;
    right: 77px;
    height: 450px;
    width: 450px;

    visibility: hidden;
}

.dest-heading{
    
    color: #FFFFFF;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-size: 28px;
    line-height: 34px;

    /* identical to box height */
    letter-spacing: 4.725px;
    
    position: absolute;
    height: 34px;
    left: 166.5px;
    top: 212px;
}

.dest-heading-par{
    display: inline-block;
    
    font-weight: 700;

    mix-blend-mode: normal;
    opacity: 0.25; 
}

.dest-heading-span{
    display: inline-block;

    font-weight: 400;


}

.moon-img{
    position: absolute;
    top: 343px;
    left: 230px;
}

.dest-bio{

    color: #FFFFFF;

    position: absolute;
    width: 445px;
    height: 472px;
    right: 163px;
    bottom: 118px;
}

.dest-bio-btns{
    
    position: absolute;
    left: 0px;
    bottom: 438px;

    width: max-content;
}

.moon, .mars, .europa, .titan{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    text-transform: uppercase;

}

.moon{
    position: absolute;
    left: 0px;
}

.mars{
    position: absolute;
    left: 74.5px;
}

.europa{
    position: absolute;
    left: 147.5px;
}

.titan{
    position: absolute;
    left: 239.5px;
}

.moon-heading{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 71px;
    right: 111.5px;
}

.moon-description{

    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;

    line-height: 32px;

    position: absolute;
    top: 200px;
    right: 1px;

}